/* --------------------------------------------------------------------------------------- */
/* HEADER ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
#header-spacer {width: 100%; height: 72px; background: $white;}
.header-spacer {display: none;}

header {
	position: fixed;
  top: 0;
  left: 0;
	display: block;
	width: 100%;
  z-index: 101;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}


/* --------------------------------------------------------------------------------------- */
/* HEADER LOGO ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header .header-logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 51;
  transform-origin: center top;
  transform: translate(-50%,0) scale(1);
}
header .header-logo-link:hover {transform: translate(-50%,16px) scale(1);}
.header-logo {display: block; width: 120px; height: 80px;}
.header-logo .logo-border,
.header-logo .logo-d,
.header-logo .logo-f,
.header-logo .logo-duck,
.header-logo .logo-foot {fill: $primary;}
.header-logo .logo-paddle {fill: $black;}
.header-logo .logo-d,
.header-logo .logo-f {
  transform-origin: center center;
  transform: rotate(0deg) translate(0,0) scale(1);
}
.header-logo .logo-duck,
.header-logo .logo-foot {
  opacity: 1;
  transform-origin: center center;
  transform: translate(0,0);
}

header.scrolled-header .header-logo-link {transform: translate(-50%,0) scale(0.5);}
header.scrolled-header .header-logo-link:hover {transform: translate(-50%,8px) scale(0.5);}
header.scrolled-header .header-logo .logo-duck,
header.scrolled-header .header-logo .logo-foot {opacity: 0; transform: translate(48px,-48px);}
header.scrolled-header .header-logo .logo-d {transform: rotate(52.89deg) translate(80px,-30px) scale(1.9);}
header.scrolled-header .header-logo .logo-f {transform: rotate(52.89deg) translate(0,-120px) scale(1.9);}

.header-logo-link svg, .header-logo-link svg path, .header-logo-link svg polygon, .header-logo-link svg g {
  -webkit-transition: all 0.375s ease; 
  -moz-transition: all 0.375s ease; 
  -o-transition: all 0.375s ease; 
  transition: all 0.375s ease;
}


/* --------------------------------------------------------------------------------------- */
/* HEADER NAV ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
header nav {
  position: relative;
  z-index: 49;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  transform: translateY(0);
  background: $primary;
  line-height: 1em;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
header ul#main-menu-left {margin-left: 12px;}
header ul#main-menu-right {margin-right: 12px;}
header ul li {display: block;}
header ul li a {
  overflow: hidden;
  display: block;
  padding: 40px 24px;
  margin: 0;
  color: $black;
  font-family: $sans;
  text-transform: uppercase;
  line-height: 1em;
}
header ul li a:hover {color: $secondary !important;}

header.scrolled-header nav {padding-bottom: 0; transform: translateY(-38px);}
header.scrolled-header nav:hover,
header.scrolled-header a.header-logo-link:hover ~ nav {padding-bottom: 0; transform: translateY(0);}
header.scrolled-header ul li a {padding-top: 18px; padding-bottom: 18px;}



/* Dropdowns ---------------------------------------------- */
header ul li:last-child ul {right: 0; margin: 0;}

header ul li:hover > a {color: $primary;}
header ul ul {display: none;}
  header ul li:hover > ul {display: block;}

header ul li ul {
  position: absolute;
  min-width: 256px;
  padding: 0;
  text-align: left;
  z-index: 15;
}
header ul li ul li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background: $black;
}
header ul li ul li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;
  width: calc(100% - 32px);
  height: 4px;
  margin-top: 8px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.4.1  SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 4' style='enable-background:new 0 0 18 4%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:%23F32735%3B%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M7.4 2c0 0-2.4 2-3.7 2S0 2 0 2s2.4-2 3.7-2S7.4 2 7.4 2z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: round;
  background-position: left center;
  filter: brightness(500%);
  -webkit-transition: all 0.25s eases;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
header ul li ul li:hover:after {filter: brightness(1);}
header ul li ul li a {
  z-index: 2;
  display: block;
  margin: 0;
  padding: 8px 16px 24px;
  width: 100%;
}
header.scrolled-header ul li ul li a {padding-top: 8px; padding-bottom: 24px;}
header ul li ul li a:hover {
  color: $secondary;
}


/* --------------------------------------------------------------------------------------- */
/* MOBILE ADJUSTMENTS ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.responsive-menu {display: none;}
.mobile-overlay {display: none;}
.mobile-nav-controls {display: none;}
header ul {display: none;}



/* --------------------------------------------------------------------------------------- */
/* Mobile Nav ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.mobile-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 49;
  display: block;
  width: 100%;
  padding: 8px;
  background: $primary;
}
.mobile-hide {display: none;}
.mobile-show {display: block;}

.mobile-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.mobile-nav a.button.nav-button {
  position: relative;
  display: block; 
  width: 32.3333%;
  margin: 0;
  border: 1px solid $black;
  border-radius: $borderradius;
  color: $black;
  font-family: $slab;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.mobile-nav a.button.nav-button:hover {color: $primary;}
.mobile-nav a.button.hamburger.active-burger {
  background: $black;
  color: $primary;
}
.mobile-nav a.button.hamburger span.ham-close {display: none;}
.mobile-nav a.button.hamburger.active-burger span.ham-close {display: block;}
.mobile-nav a.button.hamburger span.ham-open {display: block;}
.mobile-nav a.button.hamburger.active-burger span.ham-open {display: none;}



/* --------------------------------------------------------------------------------------- */
/* Mobile menu popup ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.menu-popup {z-index: 80;}
.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  border: 8px solid $primary;
  background: rgba($white,0.85);
  backdrop-filter: blur(3px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.mobile-overlay-on {
  opacity: 1;
  pointer-events: initial;
}

/* mobile close/back button ------------------------- */
.mobile-nav-controls {
  position: fixed;
  left: -45px;
  top: 28px;
  z-index: 1005;
  display: block;
}
.close-nav, .back-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 8px;
  border-radius: 50%;
  transform: translateX(0);
  background: $black;
}
.close-nav:hover, .back-nav:hover {background: $primary;}
.close-nav-show, .back-nav-show {transform: translateX(74px);}
.close-nav svg, .back-nav svg {
  display: block; 
  fill: $primary;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.close-nav:hover svg, .back-nav:hover svg {fill: $black;}


/* main mobile menu list stying ------------------------- */
.responsive-menu {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: auto;
  transform-origin: center bottom;
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.responsive-menu-show {pointer-events: initial;}
.responsive-menu ul {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.responsive-menu ul li {
  position: relative;
  display: block;
  width: 100%;
}
.responsive-menu ul li a {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 16px;
  color: transparent;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  line-height: 1em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $black;
}
.responsive-menu ul li a:hover {background: $primary;}
.responsive-menu ul#mobile-main-menu li a {
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
  border: none;
  background: none; 
  font-size: 1.5em;
  font-weight: 400; 
  text-transform: initial;
  letter-spacing: 0.025em;
}


/* animate mobile menu ------------------------- */
.responsive-menu li {
  transform: translateY(16px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.responsive-menu-show li.mobile-item-slide {
  transform: translateX(0);
  opacity: 1;
}


/* Window Border ------------------------- */
.window-border {
  position: fixed; 
  z-index: 10;
  background: $primary;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.window-border-x {width: 8px; height: 100%;}
.window-border-y {width: 100%; height: 8px;}
.window-border-top {top: 0; left: 0; z-index: 90;}
.window-border-right {top: 0; right: 0;}
.window-border-bottom {bottom: 0; left: 0;}
.window-border-left {top: 0; left: 0;}
main section {z-index: 5;}




@media screen and (min-width: 480px) {

  /* window border ------------------------- */
  .window-border-x {width: 12px;}
  .window-border-y {height: 12px;}
  .mobile-overlay {border-width: 12px;}
  .mobile-nav {padding: 12px;}

}


@media screen and (min-width: 560px) {

  /* logo ------------------------- */
  #header-spacer {height: 112px;}
  .header-logo {display: block; width: 180px; height: 120px;}

}


@media screen and (min-width: 640px) {

  /* window border ------------------------- */
  .window-border-x {width: 16px;}
  .window-border-y {height: 16px;}
  .mobile-overlay {border-width: 16px;}
  .mobile-nav {padding: 16px;}

}


@media screen and (min-width: 767px) {

  .mobile-hide {display: inline;}
  .mobile-show {display: none;}

}


@media screen and (min-width: 900px) {

  /* logo ------------------------- */
  header .header-logo-link {transform: translate(-50%,8px) scale(1);}

  /* Mobile Nav ------------------------- */
  .hamburger {display: none;}
  header .mobile-nav {display: none;}
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

}

@media screen and (min-width: 1080px) {

  /* logo ------------------------- */
  #header-spacer {height: 160px;}
  .header-logo {width: 255px; height: 170px;}

}