/* --------------------------------------------------------------------------------------- */
/* Master styles ---------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
.patent-region {
  display: inline-block;
  vertical-align: top;
  margin: 24px 2.5%;
  text-align: center;
}
.patent-region ul li {display: block;}


@media screen and (min-width: 1080px) {

  /* General ---------------------------------------------- */
  

}